<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: right;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
</style>

<div th:fragment="header">
            <ul>
                <li th:if = "${principal} == null"><a th:href="@{/reg}">Зарегистрироваться</a></li>
                <li th:if = "${principal} == null"><a th:href="@{/login}">Войти</a></li>
                <li th:if = "${principal} != null"><a th:href="@{/logout}">Выйти</a></li>
                <li th:if = "${principal} != null and ${principal.isVerification}" sec:authorize="hasRole('SUPPLIER')"><a th:href="@{/newService}">Добавить услугу (только поставщик)</a></li>
                <li><a th:href="@{/aboutMe}">О нас</a></li>
                <li><a class="active" th:href="@{/}">На главную</a></li>
            </ul>
</div>