.header {
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    display: grid;
    width: 115px;
    height: 90px;
    align-items: center;
}

@media (max-width: 689px){
    .logo {
        margin-bottom: 25px;
    }
}

img {
    width: 115px;
    height: 44px;
    max-width: 100%;
    display: block;

}

.container {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 689px){
    .container {
        display: block;
    }
}

@media (max-width: 599px){
    .container {
        display: flex;
    }
}

.nav-bar__list {
    display: flex;
    justify-content: space-evenly;
    
}

@media (max-width: 599px){
    .nav-bar__list {
        display: inline;
    }
}

@media (max-width: 689px){
    .nav-bar__list {
        justify-content: space-evenly;
        margin-left: -45px;
    }
}

.nav-bar__item {
    display: block;
    text-decoration: none;
    list-style: none;
}

.nav-bar__list li:not(:first-child) {
    padding-left: 5px;
}

@media (max-width: 599px){
    .nav-bar__list li:not(:first-child) {
        padding-top: 8px;
    }
}

.nav-bar__btn {
    display: block;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #0d4cd3;
    background-color: #e4ecfd;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
}

.nav-bar__btn:hover {
    background-color: #d6e2fb;
}

.nav-bar__btn:active {
    background-color: #cbd7ea;
}

